<div class="table-responsive" style="margin-top:20px;">
    <button class="btn btn-success" onclick="abrirModalArticulo()"><i class="fa fa-plus"></i> Agregar artículo</button>
    <table class="table table-bordered table-striped" id="tabla-articulos" style="margin-top:20px;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código Barra</th>
                <th>Stock</th>
                <th>Precio Venta</th>
                <th>Precio Costo</th>
                <th>Proveedor</th>
                <th>¿Es gravado?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
